@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
    color: #000;
}
img{
    vertical-align: middle;
}
/* menu part start */
#navbar{
    position: fixed;
    z-index: 99;
    width: 100%;
    
}
.menu_bg{
    background-color: rgba(0, 0, 0, 0.659);
}
.menu_bg img{
    width: 40px;
    height: 40px;
}
.menu_bg ul li{
    padding: 0 7px;
}
.menu_bg ul li a{
    color: #fff !important;
    font-size: 18px;
    text-transform: capitalize;
}
.menu_bg ul li:hover a{
    color: #37B8DF !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.menu_bg ul li .active{
    background-color: rgba(255, 0, 0, 0.5);
}
/* menu part end */
/* banner part start */
#banner{
    background: url(../images/banner.jpg) no-repeat center / cover;
    padding: 300px 0 200px;
    position: relative;
    z-index: 1;
    color: #fff;
}
#banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
#banner h1{
    color: #37B8DF;
    padding: 10px 0;
}
.button{
    padding: 20px 0;
}
.button button{
    padding: 10px 30px;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    text-transform: capitalize;
}
.button:hover button{
    background-color: #37B8DF;
    border: 1px solid transparent;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.icon a{
    padding: 10px 10px;
}
.icon a:first-child{
    padding-left: 0;
}
.icon a i{
    color: #fff;
    font-size: 25px;
}
.icon a i:hover{
    color: #37B8DF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/* banner part end */
/* about part start */
#about {
	padding: 60px 0 0;
}
.about_main h2{
    text-transform: capitalize;
    position: relative;
}
.about_main h2::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 28px;
	width: 138px;
	height: 2px;
	background-color: #37B8DF;
}
.about_text p{
    padding: 20px 0 15px;
}
.about_text h2{
    font-weight: 300;
    position: relative;
}
.about_text h2::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 70px;
    height: 2px;
    background-color: #37B8DF;
}    
.about_btn button{
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid #37B8DF;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.about_btn button:hover{
    background-color: #37B8DF;
    border: 2px solid transparent;
    color: #fff;
}
.about_text p{
    color: #636377;
}
.about_img img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* about part end */
/* skill part start */
#skill {
	width: 100%;
	padding: 60px 0 30px 0;
}
.skill_main h2{
    position: relative;
}
.skill_main h2::after {
	position: absolute;
	content: '';
	bottom: 0;
	left: 13px;
	width: 62px;
	height: 2px;
	background-color: #37B8DF;
}
.skill_box{
    background-color: #fff;
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 3px 3px #f1f1f1;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skill_box:hover{
    box-shadow: 1px 1px 3px 3px #37B8DF;
    transition: 0.5s;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.skill_item img{
    padding: 40px 0 30px;
}
/* skill part end */
/* project part start */
#project {
	padding: 60px 0 30px 0;
	background-color: #636377;
}
.project_main h2{
    position: relative;
}
.project_main h2::after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0px;
	width: 114px;
	height: 2px;
	background-color: #37B8DF;
}
.project_item img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/* project part end */
/* contact part start */
#contact{
    padding: 30px 0 70px 0;
}
.cont_main h2{
    position: relative;
}
.cont_main h2::after {
	position: absolute;
	content: '';
	bottom: -1px;
	left: 3px;
	width: 121px;
	height: 2px;
	background-color: #37B8DF;
}
.cont_phone{
    width: 100%;
    height: 200px;
    box-shadow: 1px 1px 3px 3px #f1f1f1;
    cursor: pointer;
    position: relative;
}
.cont_phone::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #37B8DF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.cont_phone:hover{
    background-color: #f1f1f1;
}
.cont_phone:hover::after{
    width: 100%;
}
.cont_phone i{
    font-size: 35px;
    color: #37B8DF;
    padding: 40px 0 20px 0;
}
/* contact part end */
/* footer part start */
#footer{
    padding: 29px 0 9px 0;
    background-color: #000;
    color: #fff;
}
.copy_icon i{
    color: #fff;
    font-size: 20px;
    padding: 0 8px;
}
.copy_icon i:hover{
    color: #37B8DF;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
/* footer part end */

